.background{
    height: 100vh;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E1E4F1;
    width: 50%;
    border-top-left-radius: 3rem;
    border-bottom-left-radius: 3rem;
    padding: 5rem;
}

.margin{
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    width: 50%;
    padding: 9rem;
    font-family: var(--poppins);
    font-weight: 400;
    color: white;
}