.container{
    width: 80%;
}

.body{
    width: 100%;
    height: 100vh;
    background-color: #333645;
    display: flex;
    align-items: center;
}

.here{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: var(--poppins);
    font-size: 9pt;
    font-weight: 500;
    color: #333645;
}

.here a{
    text-decoration: none;
    font-weight: 700;
    color: #333645;
}